<h1>AmusementPark#show</h1>
  <p>Park's Name: <%= @amusement_park.name %>
  <p>Park's Name: <%= @amusement_park.admission_cost %>

<%# 
<h2>Mechanics</h2>
  <p>Mechanic's Name: <%= @amusement_park.mechanic.name %>
  <br>
<%# <h2>Rides</h2>

   <% @mechanic.rides.each do |ride| %>
    <%# <p>Associated Ride(s): <%= ride.name %> %> %>
  <%# <% end %> %> %>
