<h1>Mechanics Show Page</h1>
<h2>Mechanic with Rides</h2>
  <p>Mechanic's Name: <%= @mechanic.name %>
  <br>
  <p>Years of Exp: <%= @mechanic.years_experience %>
  <br>
   <% @mechanic.rides.each do |ride| %>
    <p>Associated Ride(s): <%= ride.name %>
  <% end %>
